{{>header}}
<form action="/hospital/board/posts" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요.">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="contents" placeholder="내용을 입력하세요."></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm mb-2">작성하기</button>
    <a class='btn btn-primary btn-sm mb-2' href="/hospital/board">게시판 목록</a>
</form>

{{>footer}}