<form action="/hospital/search" method="get">
    <input name="keyword" type="search" placeholder="검색" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>